body{
font-family: 'Courier New', Courier, monospace ;
background: url(pic/background/blue-fluid-wave1.jpg) no-repeat center/cover;
background-attachment:fixed ;
margin: 0;
height: 100vh;
}

*a{
    border: 1px solid rgb(255, 0, 0);
    box-sizing: border-box;
}
.middle{
    display: flex;
    justify-content: center;
    align-items: center;
}
.center{
  display: flex;
  justify-content: center;
}
.right{
  display: flex;
  justify-content: end;
  align-items: end;
}
.heading1{
  font-size: 40px;
}

.heading2{
  font-size: 20px;
}
.heading5{
  font-size: 15px;
  color: #a5a5a5;
}
.heading6{
  font-size: 10px;
  color: #a5a5a5;

}
:root{
--blue:#10263c;
--darkbBlue:#091623;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}
.div-header{
background: linear-gradient(45deg, #76238b, #2f1364);
color: white;
padding: 10px 20px;
}
.div-company{
    height: 100px;
    background: linear-gradient(135deg, #b14b4b, #400070);
    border-radius: 20px;
    margin: 20px 30px;
    padding: 10px;
}

.div-search{
    padding: 40px 20px;
}
input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}
.search-bar{
    border-radius: 20px;
    height:50px;
    width: 500px;
    padding: 0px 20px;
    border:0px;
    background: linear-gradient(136deg, var(--bs-red), #000000);
    border: 1px solid transparent;
}
.search-bar:focus-within{
    border-color:#1b9bee;
    background-color: transparent;
    color: #ffffff;
    caret-color: #fff;
}

.div-cart .flex-div{
 flex: 50%;
 height: 500px;
 padding: 20px;
}
.div-cart .flex-div .div{
height: 90%;
padding: 10px;
border: 1px solid white;
 border-radius: 20px;
 /* min-width: 100%;
 max-width: 50%; */
 max-width: 100%;
}


/* *input::placeholder{
  color: rgb(255, 255, 255);
} */


.div-cart .div-cart-Order .flex-div{
height: auto;
display: flex;
align-items: center;
/* flex: 50%; */
}

.offcanvas1.login .div .background{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 20%;
  /* height: 50%; */
  background-color: #d63384;
  z-index: -5;
  border-top-left-radius:50% ;
  border-top-right-radius:50% ;
  border-bottom-left-radius:inherit ;
  border-bottom-right-radius:inherit ;
  transition: height .5s ease;
}
.offcanvas1.login .div:hover .background{
height: 50%;
}


.offcanvas1.login .div{
  border-radius:20px;
  border: 2px solid rgb(255, 255, 255);
  padding: 50px;
  scale: .9;
  /* height: 45%; */
  transition: all .4s ease-out;
}
.offcanvas1.login .div:hover{
  border-radius:20px;
  border: 2px solid rgb(255, 255, 255);
  padding: 50px;
  scale: 1.0;
  box-shadow: 0 0 0 7px hsl(0, 0%, 100%);
}
.offcanvas1.login .login-pic{
position: absolute;
z-index: 2;
transform: translateY(-180px);
height: 160px;
border-radius: 100%;
aspect-ratio: 1/1;
scale: .7;
background-color: white;
background: url(pic/profile/default.jpg) center/contain;
transition: all .5s ease-in-out;
}
.offcanvas1.login .div:hover .login-pic,.offcanvas1.login input:focus-within .login-pic{
  scale: 1;
  transform: translateY(-160px);
}





.offcanvas1.login input:focus-within,.form-control:disabled{
background-color: #283542;
}



.offcanvas1.menu{
  z-index: 2;
  left: auto;
  width:400px;
}


.offcanvas1.edit_inventory{
  width:500px;
  background: linear-gradient(44deg,#00101c, #1a3e3d);
}

.offcanvas1.edit_inventory-confirm{
  height:fit-content;
  top: auto;
}

.offcanvas1.inventory-search{
  height: fit-content;
  top: auto;
}
.offcanvas1.inventory-search .offcanvas1-body{
  padding: 20px 50px;
}
.offcanvas1.inventory-search .offcanvas1-body .flex{
  margin: 10px;
}
.offcanvas1.inventory-search .offcanvas1-body .flex-div{
  flex: 50%;
  padding: 20px 0px;
}
.offcanvas1.inventory-search .offcanvas1-body .size .flex-div{
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.offcanvas1.inventory-search .size-calculation .flex-div{
  padding: 0px 0px;
}
.offcanvas1.inventory-search .size-calculation .flex-div input{
  width: 50%;
}
.offcanvas1.sell-confirm{
  height:50%;
  top: auto;
}


.green:focus-within{
  border-color:rgb(0, 221, 0) !important ;
}
.red:focus-within{
  border-color:rgb(255, 0, 0) !important ;
}

.div-header .flex-div{
  flex: auto;
}
.sell-order-details .offcanvas1-body{
  padding: 20px 50px;
  overflow: scroll;
  height: 500px;
}
.sell-order-details .offcanvas1-body .flex-div{
  flex: 50%;
}










.menu-links div{
  font-size: 25px;
  color: #818181;
  padding:10px 0 10px 40px ;
}
.menu-links div:hover{
  color: rgb(255, 255, 255);
  transition: color .3s;
  cursor: pointer;
}




.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: hsl(0, 0%, 20%);
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: hsl(217, 81%, 42%);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}



/* .offcanvas1 input[type=checkbox]
{

} */
.checkbox
{
    height: 50px;
  border-radius: 50px;
}




  /* offcanvas */
.offcanvas1{
  z-index: 1;
  background-color: #242424cc;
  color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position:fixed;
  visibility: hidden;
  height: 100%;
  /* overflow-y: scroll; */
  /* overflow: auto; */
}

.offcanvas1{
  /* background-color: #091623; */
  background-color: #10263c;
}

.offcanvas1.login{
  background: url(pic/background/blob.png) no-repeat center/cover;
}
.offcanvas1.menu{
  /* background: url(pic/background/stacked-waves1.png) no-repeat center/cover; */
  /* background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0),hsl(0, 0%, 0%)),url(pic/background/wave.png) no-repeat center/cover; */
  background: linear-gradient(132deg, hsl(241deg 66% 5% / 57%),hsl(0deg 0% 0% / 61%)),url(pic/background/circle.png) no-repeat center/cover;
}
.offcanvas1.inventory{
  background: linear-gradient(132deg, hsl(241deg 66% 5% / 57%),hsl(0deg 0% 0% / 61%)),url(pic/background/stacked-waves1.png) no-repeat center/cover;

}
/* 

.offcanvas1.edit_inventory{}

.offcanvas1.inventory-search{}
.offcanvas1.sell-order-details{}
.offcanvas1.sell{}
.offcanvas1.overview{}*/
/* .offcanvas1.edit_inventory{
  background:linear-gradient(to bottom, hsla(0, 0%, 0%, 0),hsl(0, 0%, 0%)),url(pic/background/gradient.jpg) no-repeat center/contain;
  transform: rotate(180deg);
  background-attachment: fixed;
} */



.offcanvas1.add_inventory{
  background: linear-gradient(90deg,#00101c, #00304cb8),url(pic/background/peak_background_vertical.png) no-repeat center/cover
}
.offcanvas1.add_inventory-confirm{
background: linear-gradient(90deg,#00101c, #00304cb8),url(pic/background/peak_background_vertical.png) no-repeat center/cover
}
.offcanvas1.edit_inventory{
background: linear-gradient(90deg,#00101c, #00304cb8),url(pic/background/peak_background_vertical.png) no-repeat center/cover

}
.offcanvas1.edit_inventory .big-card{
background: linear-gradient(0deg, #00000000,#00000047),url(pic/background/stacked-waves1.png) no-repeat center/cover;
height: fit-content;
border-radius: 15px;
/* border:3px solid white; */
padding:10px 10px;
margin-bottom: 50px;
}
.offcanvas1.edit_inventory .card{
background: linear-gradient(21deg, rgba(0, 0, 0, 0.23),#420000),url(pic/background/gradient.jpg) no-repeat center/cover;
padding: 12px;
border-radius: 15px;
margin: 10px;
box-shadow: 0 9px 8px -5px #00000080;
}

.offcanvas1.edit_inventory-confirm{
background: linear-gradient(90deg,#00101c, #00304cb8),url(pic/background/peak_background_vertical.png) no-repeat center/cover

}





.offcanvas1.sell-order-details{
  background: linear-gradient(21deg, rgba(0, 0, 0, 0.23),#420000),url(pic/background/gradient.jpg) no-repeat center/cover;
}
.offcanvas1.sell-order-details .div{
 background:linear-gradient(98deg,#5e003d69, #00000069),url(pic/background/peak_background_vertical.png) no-repeat center/cover;
 border-radius: 20px;
 padding: 20px;
 margin: 30px 0px;
 box-shadow: 0 10px 18px -6px black;
}






.offcanvas1.about{
  background: url(pic/background/bg1.jpg) no-repeat center/cover;
} 





.offcanvas1-body{
  padding: 10px;
  height: 90%; 
  overflow: auto;
}

.offcanvas1-body::-webkit-scrollbar{
display: none;
}

.offcanvas1::-webkit-scrollbar{
display: none;
}

.offcanvas1 .input{
   border-radius: 20px;
    height:58px;
    width: 100%;
    padding: 0px 20px;
    border:0px;
    /* background-color: #283542; */
    background-color: #003d7a;
    border: 1px solid transparent;
    color: white;
}

.offcanvas1 .input:focus-within{
    border-color:#1b9bee;
    background-color: transparent;
    color: #ffffff;
    caret-color: #fff;
    outline-width: 0;
}

input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}


/* inventory */

.offcanvas1.inventory .offcanvas1-body{
  padding: 30px 30px;
  height: 85%;
}

.offcanvas1.inventory .div{
padding: 30px;
}

.offcanvas1.inventory .accordion-body{
  min-height: fit-content;
  max-height: 600px;
}
.offcanvas1.inventory .accordion-body::-webkit-scrollbar{
  display: none;
}

.offcanvas1.inventory thead{
  white-space: nowrap;
}




/* edit inentory */
.offcanvas1.edit_inventory .flex-div{
flex: 50%;
}

.offcanvas1-footer{
  position: absolute;
  background:inherit;
  border-top:1px solid rgb(100, 100, 100) ;
  bottom: 0;
  left: 0;
  right: 0;
}

.offcanvas1-footer .flex-div div{
  margin: 5px 10px;
  border-radius: 15px;
  /* border: 1px solid rgb(255, 255, 255); */
  padding: 10px; 
  /* background-color: rgb(58, 58, 35); */
}

.offcanvas1-backdrop{
  /* background-color: #19222a; */
  background-color: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: opacity 1s;
  display: none;
}
.offcanvas1-backdrop.show{
  display: block;
  opacity: 0.5;
}
.overview{
  background-color: var(--darkbBlue);
}

.overview .flex-div.div{
flex: 25%;
padding: 15px;
}

.overview .flex-div .div{
border: 1px solid white;
/* height: 120px; */
height: fit-content;
min-height: 100%;
border-radius: 20px;
padding: 15px;
/* background-color: var(--blue); */
background: linear-gradient(314deg, #10263c, #08537e00),linear-gradient(135deg, #10263c00, #08537e);
transition: all .5s ease;
}
.overview .flex-div .div:hover{
 box-shadow: 0 0 0 7px #fff;
 scale: 1.01;
}


.overview .flex-div.chart{
flex: 100%;
height: 400px;
padding: 15px;
}

.overview .flex-div.chart .div{
border: 1px solid white;
height: 100%;
border-radius: 20px;
padding: 15px;
}



.overview .div-confidence .flex-div{
  padding: 15px;
  flex: auto;
}

.overview .div-confidence .item{
/* border: 1px solid white; */
border-radius: 20px;
padding: 10px;
color: white;
width: 200px;
background-color: #0d6efd;
}
.overview .div-confidence .circle{
border: 1px solid white;
border-radius: 50px;
padding: 10px;
aspect-ratio:1/1;
height: 100%;
background-color: white;
color: black;
}
.overview .div-confidence .item.conn{
background-color: #dc3545;
}
.overview .div-confidence::-webkit-scrollbar{
display: none;
}


.overview .Top_Sold_Products_value .flex-div {
  flex:auto;
  padding: 5px 30px;
}
.overview .Top_Sold_Products_value .product {
width: 50vw;
}
.overview .Top_Sold_Products_value .quantity {
background-color: #0d6efd;
border-radius: 20px;
padding:5px 10px;
width: 100px;
}
.overview .Top_Sold_Products_value .frequency {
background-color: #dc3545;
border-radius: 20px;
padding:5px 10px;
width: 100px;
}
.overview .Top_Sold_Products_value::-webkit-scrollbar ,.overview .flex-div.chart .div::-webkit-scrollbar,.overview .div::-webkit-scrollbar{
display: none;
}

.about-me{
  width: 365px;
  height: 250px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid white;
  transition: all .6s ease;
  margin: 20px;
}
.about-me_pic{
  transition: all .6s ease;

}
.about-me_div{
height: 80px;
transition: all 1s ease;
overflow: hidden;
}


.about-me:hover{
  /* border: 5px solid rgb(255, 255, 255); */
  box-shadow: 0px 0px 0px 7px #ffffff;
  height: 390px;
  transition: all .6s ease;
}
.about-me:hover .about-me_pic{
  transform: translateY(-80px);
  transition: transform .6s ease;
}
.about-me:hover .about-me_div{
  transform: translateY(-80px);
  /* scale: 100%; */
  height:80%;
  transition:all 1s ease

}

.about-me:hover .about-me_name{
  margin-top: 10px;
  transition: margin .5s ease;
}
.about-me_role .flex-div{
  flex: auto;
  text-align: center;
  border-radius: 20px;
}
.about-me_programs .flex-div{
  width: 80px;
  flex: auto;
  text-align: center;
  border-radius: 20px;
  /* background-color: rgb(126, 67, 0); */
  padding: 3px 10px;
}

.about-me .background{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0%;
  /* height: 50%; */
  background-color: #d63384;
  z-index: -5;
  border-top-left-radius:inherit ;
  border-top-right-radius:inherit ;
  border-bottom-left-radius:50% ;
  border-bottom-right-radius:50% ;
  transition: height .5s ease;
  rotate: 180deg;
}
.about-me:hover .background{
height: 90%;
}

















.button-sell{
display: inline-block;
padding: 1px 2px;
border-radius: 10px;
background-color: #ff4646;
color: #fff;
font-size: large;
transition: all 0.3s;
position: relative;
overflow: hidden;
z-index: 0;
width: 100%;
}

.button-sell:hover{
color: #151515;
}

.button-sell::after{
content: "";
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
background-color: #fff;
z-index: -1;
border-radius: 10px;
transition: 0.3s ease all;
transform: scale(0,1);
transform-origin: top right;
transition: transform 500ms cubic-bezier(0.86,0,0.07,1);
transition-timing-function:cubic-bezier(0.86, 0, 0.07, 1);
}

.button-sell:hover::after{
transform: scale(1,1);
transform-origin: top left;
}














.apexcharts-tooltip{
  color:#000000;
  background:hsla(0, 100%, 50%, 0.3);
}
  
  
  /* offcanvas1 animation */
.slide-in-top{
  visibility:visible;
  animation: slide-in-top .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-in-top{
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0%);
  }
}
  
  
.slide-out-top{
  animation: slide-out-top .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-out-top{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-100%);
  }
}

.slide-in-left{
  visibility:visible;
  animation: slide-in-left .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-in-left{
  0%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(0%);
  }
}
  
  
.slide-out-left{
  animation: slide-out-left .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-out-left{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}


.slide-in-right{
  visibility:visible;
  animation: slide-in-right .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-in-right{
  0%{
    transform: translateX(200%);
  }
  100%{
    transform: translateX(0%);
  }
}
  
  
.slide-out-right{
  animation: slide-out-right .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-out-right{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(200%);
  }
}




.slide-in-bottom{
  visibility:visible;
  animation: slide-in-bottom .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-in-bottom{
  0%{
    transform: translateY(200%);
  }
  100%{
    transform: translateY(0%);
  }
}
  
  
.slide-out-bottom{
  animation: slide-out-bottom .5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@keyframes slide-out-bottom{
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(200%);
  }
}

@media screen and (max-width:450px) 
{ 
  .offcanvas1.inventory .offcanvas1-body{padding: 30px 10px;}
  .offcanvas.inventory .flex-div{flex: 100%;}
  .offcanvas1.menu{width: 70%;}
  .offcanvas1.edit_inventory{ width: 90%;}
  /* .offcanvas1.edit_inventory-confirm{} */
  .offcanvas1.inventory .div{padding: 10px;}
  /* .accordion-body{padding: 0px;} */
  .offcanvas1.inventory-search .offcanvas1-body{padding:10px;}
  .div-cart .flex-div{flex: 100%;}
  /* .offcanvas1.menu .flex-div{flex-direction: c;} */
  .sell-order-details .offcanvas1-body{padding: 20px 20px;}
  .div-cart .div-cart-Order .flex-div{flex: 50%;}
  .overview .flex-div.div{flex: 50%;}
  .overview .flex-div.chart{flex: 100%;}
}